@use "reset.scss" as *;
@use "variables.scss" as *;
@use "mixins.scss" as *;



.OrderButton {
    @extend .defaultButton;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &:hover {
        &::after {
            background: linear-gradient(0deg, lighten(rgba(147,86,220,1), 10%) 0%, lighten(rgba(255,121,218,1), 10%) 100%);
            transition: 0.3s opacity;
            opacity: 1;
        }
    }

    &::after {
        width: 100%;
        height: 100%;
        @extend .defaultButton;
        content: "Commander";
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        text-align: center;
    }
}

header a {
    i {
        color: black;
    }
}

#Restaurant--PageContent {
    
    #Restaurant--Image {
        position: absolute;
        top:50px;
        z-index: -5;
        width: 100%;
        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }

    #RestaurantSections {
        border-radius: 25px 25px 0px 0px;
        background-color: rgb(244,244,244);
        margin-top: 200px;
        padding-bottom: 1px;

        #RestaurantSections--header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h1 {
                padding: 25px;
                padding-left: 15px;
                font-family: Shrikhand;
                font-size: 24px;
            }
            .Heart--Container {
                position: relative;
                width: 50px;
                padding-top: 25px;

                img {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                }
                .Normal--Heart {
                    z-index: 1;
                    opacity: 1;
                    transition: opacity 500ms;
                }
                .Gradient--Heart {
                    padding-left: 1px;
                    padding-right: 1px;
                    transition: opacity 500ms;
                    opacity: 0;
                    z-index: 2;
                }
                &:hover {
                    .Normal--Heart {
                        opacity: 0;
                    }
                    .Gradient--Heart {
                        opacity: 1;
                    }
                }
            }
        }

        #MenuCards {
            .Menu--Items {
                margin-bottom: 40px;
                
                .Menu--Type {
                    padding-left: 15px;

                    h3 {
                        margin-bottom: 2px;
                    }
                    .HeaderMenuSeparator {
                        background-color: $Color_Green;
                        width: 50px;
                        height: 2px;
                    }
                }
        
                .Menu--Item {
                    height: 75px;
                    display: flex;
                    flex-direction: row;
                    background-color: white;
                    justify-content: space-between;
                    border-radius: 15px;
                    margin: 15px;
                    box-shadow: 0px 2px 15px 0px silver;
                    padding-left: 15px;
                    overflow: hidden;
                    opacity: 0;

                    @for $i from 1 through 4 {
                        &:nth-child(#{$i}) {
                            animation : MenuAppear 200ms * $i cubic-bezier(.17,.67,.52,.9) forwards;
                        }
                    }

                    @keyframes MenuAppear {
                        0% {
                            opacity: 0;
                            transform: translateY(15px);
                        }
                        100% {
                            opacity: 1;
                            transform: translateY(0px);
                        }
                    }

                    .MenuItem--Container{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        transition: width 330ms;
                        width: 100%;
                    }
                    h4 {
                        font-weight: bold;
                        padding-bottom: 2px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    .Description--Price {
                        display: flex;
                        justify-content: space-between;

                        .Description {
                            padding-top: 2px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                        .Price {
                            font-weight: 600;
                            padding-right: 15px;
                        }
                    }

                    &:hover {
                        .MenuItem--Container {
                            width: calc(100% - 65px);
                        }

                        .Menu--Check {
                            width: 65px;

                            i {
                                transform: rotate(1turn);
                            }
                        }
                    }

                    .Menu--Check {
                        width: 0px;
                        height: 100%;
                        background-color: $Color_Green;
                        color: $Color_Green;
                        transition: width 330ms;
                        padding-top: 25px;

                        div {
                            background-color: white;
                            border-radius: 50px;
                            width: 28px;
                            height: 28px;
                            padding: 5px 4px;
                            margin-left: 20px;

                            i {
                                transition: transform 330ms ease-in-out;
                            }
                        }
                    }
                }
            }
            .Order--Button {
                @extend .OrderButton;
                width: 140px;
                height: 50px;
                margin: 50px auto;
                margin-bottom: 100px;
                
                &:visited {
                    color:white
                }
            }
        }
    }
}

@media screen and (min-width : 770px) {
    #MenuCards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .Menu--Items {
            width: 50%;
        }
    }
}

@media screen and (min-width : 1600px) {
    #MenuCards {

        .Menu--Items {
            width: 25%;
        }
    }
}