/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:link{
    text-decoration: none!important;
}
@import "reset.scss";
@font-face {
    font-family: "Roboto_Light";
    src: url("../fonts/Roboto/Roboto-Light.ttf")
}
@font-face {
    font-family: "Roboto_Regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf")
}
@font-face {
    font-family: "Roboto_Bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf")
}
@font-face {
    font-family: "Shrikhand";
    src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf")
}

$Color_Purple:  #9356DC;
$Color_Pink:    #FF79DA;
$Color_Green:   #99E2D0;


// LOADING SPINNER
.Spinner--Container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    z-index: 20;
    animation: spinnerContainer 2s ease-out forwards;
}

.spinner {
    width: 50px;
    height: 50px;
    position: absolute;
    left: calc((100% - 50px)/2);
    top: calc((100% - 50px)/2);

    div {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 4px solid transparent;
        border-top-color: blueviolet;
        border-radius: 50%;
        animation: spinnerOne 2s cubic-bezier(.39,.79,.81,.96);
    }

    div:nth-child(2) {
        border: 4px solid transparent;
        border-bottom-color: blueviolet;
    }
}

@keyframes spinnerContainer {
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes spinnerOne {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// HEADER
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 50px;

    #PageTitle {
        padding: 10px;
    }

    i {
        position: absolute;
        top: 25px;
        left: 15px;
    }

    img {
        height: 100%;
    }
}
#UserLocation {
    font-weight: 600;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(240,240,240);
    background: linear-gradient(0deg, rgba(240,240,240,1) 88%, rgba(163,163,163,1) 100%);

    i {
        padding-top: 15px;
    }
    p {
        padding: 15px;
        font-family: Roboto_Regular;
    }
}

// STANDARD BUTTON DEFINITIONS
.btn {
    background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    border-radius: 25px;
    color:white;
    font-family: Roboto_Regular;
    font-size: 15px;
    box-shadow: 0px 2px 5px 1px silver;
    position: relative;
    padding-top:16px;


    &:hover {
        &::after {
            background: linear-gradient(0deg, lighten(rgba(147,86,220,1), 10%) 0%, lighten(rgba(255,121,218,1), 10%) 100%);
            transition: 0.3s opacity;
            opacity: 1;
        }
    }

    &::after {
        width: 100%;
        height: 100%;
        @extend .btn;
        content: "Explorer nos restaurants";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
}

// EXPLORE RESTAURANTS CARD
#ExploreRestaurants {
    background-color: rgb(250,250,250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Roboto_Regular;
    padding-bottom: 25px;
    padding-top: 25px;

    h1 {
        font-weight: bold;
        font-size: 24px;
        padding: 15px 50px 0px;
    }
    p {
        padding: 15px 50px;
    }
    a {
        @extend .btn;
        width: 220px;
        height: 50px;
        margin: 20px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

// 'FONCTIONNEMENT' SECTION
#Fonctionnement {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .Title {   
        padding: 30px;
        font-family: Roboto_Bold;
        font-size:28px;
    }

    .FonctionnementCard {
        background-color: rgb(250,250,250);
        box-shadow: 0px 2px 5px 1px rgb(220,220,220);
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        padding: 25px;
        margin: 15px;
        margin-left: 30px;
        margin-right: 20px;
        position: relative;
        transition: background-color 500ms;
        transition: color 300ms;
        cursor: pointer;

        &:hover {
            background-color: lighten($Color_Purple, 30%);
            transition: 0.3s background-color;

            i {
                color: $Color_Purple;
            }
        }

        .Decoration {
            background-color: $Color_Purple;
            border-radius: 25px;
            width: 25px;
            height: 25px;
            text-align: center;
            color: white;
            position: absolute;
            top: 20px;
            left: -10px;
            font-family: Roboto_Regular;
            padding-top: 5px;
            font-size: 13px;
        }

        i {
            color: gray;
            padding-left: 10px;
            padding-top: 1px;
            transition: color 300ms;
        }

        h3 {
            padding-left: 15px;
            font-family: Roboto_Bold;
        }
    }
}

// 'RESTAURANTS' SECTION
#Restaurants {
    background-color: rgba(0,0,0,0.05);
    padding: 25px;

    a:visited {
        color: black;
    }

    h1 {
        font-family: "Roboto_Bold";
        font-size: 20px;
        margin-bottom: 25px;
        padding-left: 10px;
    }

    .RestaurantCard {
        border-radius: 25px;
        background-color: white;
        height: 220px;
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        position: relative;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);

        img {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-radius: 25px 25px 0px 0px;
        }

        .RestaurantDescription {
            display: flex;
            justify-content: space-between;
            font-family: "Roboto_Regular";
            padding:15px;

            .Heart--Container {
                position: relative;
                padding-top: 5px;
                margin-right: 5px;
                width: 28px;
                height: 28px;
            
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit:fill;
                    border-radius: 0px;
                }
            
                .Normal--Heart {
                    z-index: 1;
                    opacity: 1;
                    transition: opacity 500ms;
                }
                .Gradient--Heart {
                    padding-left: 1px;
                    padding-right: 1px;
                    transition: opacity 500ms;
                    opacity: 0;
                    z-index: 2;
                }
            
                &:hover {
                    .Normal--Heart {
                        opacity: 0;
                    }
                    .Gradient--Heart {
                        opacity: 1;
                    }
                }
            }

            .RestaurantDescriptionText {

                h2 {
                    font-family: "Roboto_Bold";
                }

                p {
                    font-size: 16px;
                }
            }

            i {
                color: gray;
            }
        }
    }
}

// FOOTER
footer ul {
    background-color: rgba(0,0,0,0.8);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 25px;
    font-family: "Roboto_Regular";
    font-size: 13px;

    a:visited {
        color: white;
    }

    img {
        width: 100px;
        margin-bottom: 15px;
    }
    .FooterItem {
        color: white;
        font-family: Roboto_Light;
        margin-bottom: 10px;
    }
    .FooterItemWithIcon {
        font-weight: 600;
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;

        i {
            margin-right: 5px;
            margin-top: 1px;
            width: 20px;
            height: 20px;
        }
    }
}


// MEDIA QUERIES
@media screen and (min-width : 770px) {

    #ExploreRestaurants {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 30px;
        padding-right: 30px;
        padding-left: 40px;

        a {
            margin: 25px;
        }
        div {
            text-align: start;

            h1 {
                padding-left: 0px;
            }
            p {
                padding-left: 0px;
            }
        }
    }

    #Restaurants {
        padding: 20px 15px;
        
        h1 {
            padding-left: 25px;
            margin-bottom: 10px;
        }
    }

    #RestaurantsGallery {
        display: flex;
        flex-direction: row;

        .Group {
            display: flex;
            flex-direction: column;
            width: 50%;

            .RestaurantCard {
                margin: 15px;
            }
        }
    }
}

@media screen and (min-width : 1210px) {
    #Fonctionnement {
        display: flex;
        flex-direction: row;
        padding-top: 25px;
        margin-bottom: 25px;
    }

    #RestaurantsGallery .Group {
        flex-direction: row;

        .RestaurantCard {
            width: 50%;
        }
    }
}