/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:link{
    text-decoration: none!important;
}
a:visited {
    color: black;
}
@import "reset.scss";
@font-face {
    font-family: "Roboto_Light";
    src: url("../fonts/Roboto/Roboto-Light.ttf")
}
@font-face {
    font-family: "Roboto_Regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf")
}
@font-face {
    font-family: "Roboto_Bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf")
}
@font-face {
    font-family: "Shrikhand";
    src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf")
}

$Color_Purple:  #9356DC;
$Color_Pink:    #FF79DA;
$Color_Green:   #99E2D0;
 

// LOADING SPINNER
.spinner {
    width: 50px;
    height: 50px;
    position: absolute;

    div {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 4px solid transparent;
        border-top-color: blueviolet;
        border-radius: 50%;
        animation: spinnerOne 2s linear;
        display: none;
    }

    div:nth-child(2) {
        border: 4px solid transparent;
        border-bottom-color: blueviolet;
    }
}
@keyframes spinnerOne {
    0% {
        transform: rotate(0deg);
        display: block;
    }
    100% {
        transform: rotate(360deg);
        display: block;
    }
}

// HEADER
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 50px;

    #PageTitle {
        padding: 10px;
    }

    i {
        position: absolute;
        top: 25px;
        left: 15px;
    }

    img {
        height: 100%;
    }
}
#UserLocation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(240,240,240);
    background: linear-gradient(0deg, rgba(240,240,240,1) 88%, rgba(163,163,163,1) 100%);

    i {
        padding-top: 15px;
    }
    p {
        padding: 15px;
        font-family: Roboto_Regular;
    }
}

// STANDARD BUTTON DEFINITIONS
.btn {
    background: $Color_Purple;
    //background: lighten(rgb(147,86,220), 50%);
    background-color: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    border-radius: 25px;
    color:white;
    font-family: Roboto_Regular;
    border: none;
    box-shadow: 0px 2px 5px 1px silver;
    padding: 15px;
    transition: 0.3s background-color;
    position: relative;

    // REPRENDRE LES PROPRIETES DU BUTTON
    &:hover {
        &::after {
            background: linear-gradient(0deg, lighten(rgba(147,86,220,1), 10%) 0%, lighten(rgba(255,121,218,1), 10%) 100%);
            transition: 0.3s opacity;
            opacity: 1;
        }
    }

    &::after {
        content: "Test";
        display: block;
        position: absolute;
        top: 0; left: 0;
        opacity: 0;
    }
}

// EXPLORE RESTAURANTS CARD
#ExploreRestaurants {
    background-color: rgb(250,250,250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Roboto_Regular;

    h1 {
        font-weight: bold;
        font-size: 24px;
        padding: 15px 50px 0px;
    }

    p {
        padding: 15px 50px;
    }

    span {
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
            @extend .btn;
            width: 200px;
            margin-bottom: 50px;
            margin-top: 25px;
        }
    }
}

// SECTION FONCTIONNEMENT
#Fonctionnement {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    .Title {   
        padding: 25px;
        font-family: Roboto_Bold;
        font-size:28px;
    }

    .FonctionnementCard {
        background-color: rgb(250,250,250);
        box-shadow: 0px 2px 5px 1px rgb(220,220,220);
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        padding: 25px;
        margin: 15px;
        margin-left: 40px;
        position: relative;
        transition: background-color 500ms;
        transition: color 300ms;

        &:hover {
            background-color: lighten($Color_Purple, 30%);
            transition: 0.3s background-color;

            i {
                color: $Color_Purple;
            }
        }

        .Decoration {
            background-color: $Color_Purple;
            border-radius: 25px;
            width: 25px;
            height: 25px;
            text-align: center;
            color: white;
            position: absolute;
            top: 20px;
            left: -10px;
            font-family: Roboto_Regular;
            padding-top: 5px;
            font-size: 13px;
        }

        i {
            color: gray;
            padding-left: 10px;
            transition: color 300ms;
        }

        h3 {
            padding-left: 15px;
            font-family: Roboto_Bold;
        }
    }
}

// SECTION RESTAURANTS
#Restaurants {
    background-color: rgba(0,0,0,0.05);
    padding: 25px;

    h1 {
        font-family: "Roboto_Bold";
        font-size: 20px;
        margin-bottom: 15px;
    }

    .RestaurantCard {
        border-radius: 25px;
        background-color: white;
        height: 220px;
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        position: relative;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);

        img {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-radius: 25px 25px 0px 0px;
        }

        .RestaurantDescription {
            display: flex;
            justify-content: space-between;
            font-family: "Roboto_Regular";
            padding:15px;

            .RestaurantDescriptionText {

                h2 {
                    font-family: "Roboto_Bold";
                }

                p {
                    font-size: 16px;
                }
            }

            i {
                color: gray;
            }
        }
    }
}

// FOOTER
footer {
    background-color: rgba(0,0,0,0.8);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 25px;
    font-family: "Roboto_Regular";
    font-size: 13px;

    img {
        width: 100px;
        margin-bottom: 15px;
    }

    .FooterItemWithIcon {
        color: white;
        display: flex;
        flex-direction: row;

        i {
            margin-right: 8px;
            width: 20px;
            height: 20px;
        }
    }

    .FooterItem {
        color: white;
        font-family: Roboto_Light;
        margin-bottom: 5px;
    }

}